form{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.301);
  height: 60px;
  margin: 10px auto;
}
button{
  margin: 5px;
  padding: 5px;
  border-radius: 12px;
  background-color: rgb(40, 143, 129);
 }